
@{
    ViewBag.Title = "Login";
}


<h2>Sign In</h2>
<h3>@ViewBag.error</h3>
<form action="" method="post">
    <input type="text" name="UserName" class="form-control" placeholder="user name.."><br>

    <input type="password" name="Password" class="form-control" placeholder="password.."><br>

    <input style="background-color:teal"type="submit" class="btn btn-block " value="login" />
</form>


