@model Lab_Practice.Models.Department
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div>
    <form action="/Department/Create" method="post">
        <input type="text" name="Name" class="form-control" placeholder="Name..">
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })<br>
        <input type="submit" class="btn btn-block" value="Add" />
    </form>
</div>

